@font-face {
  font-family: lato;
  src: url(assets/font/Lato.otf) format("opentype");
}

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
}